<%= provide :title, t("labels.artists") %>
<div class="row">
  <div class="col-md-9">
    <h3><%= t "labels.artists" %></h3>
    <div class="row">
      <%= render partial: "singer", collection: @artists, as: :artist %>
    </div>
    <div class="paginate">
      <%= paginate_page @artists %>
    </div>
  </div>
  <%= render "share/right_part" %>
</div>
